<?xml version='1.0' encoding='utf-8'?>
<widget id="com.guac.collage" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>

    <content src="index.html" />

	<platform name="ios">
		<icon src="res/ios/AppIcon-40@2x.png" width="40" height="40" />
	</platform>

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
